.home__div_film {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-top: 30px;
}

.home__section_globalfilms {
  display: flex;
  flex-wrap: wrap;
}

.home__global_div {
  margin: 20px;
}

//Next and back

.home__pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__pagination_prev {
  background-color: #444857;
  padding: 12px 16px 12px 16px;
  border-radius: 2px;
  color: white;
}

.home__pagination_back {
  background-color: #444857;
  padding: 12px 16px 12px 16px;
  border-radius: 2px;
  color: white;
}

.home__pagination_actualPage {
  height: 22px;
  width: 22px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #444857;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
