.movie__global_div{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.movie__global_div_info{
    margin-left: 20px;
}

.movie__margin-bottom20px{
    margin-bottom: 20px;
}