.movie__global_div{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.movie__global_div_info{
    margin-left: 20px;
}

.movie__margin-bottom20px{
    margin-bottom: 20px;
}

.movie__input_votenow{
    width: 80px;
    margin-right: 5px;
    margin-left: 10px;
}

.movie__form_global_div{
    background-color: #252830;
    width: fit-content;
    padding: 15px;
}

.movie__color252830{
    background-color: #252830;
}