.mylist__global_div{
    margin-left: 20px;
    margin-bottom: 20px;
}

.mylist__test{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.mylist__title{
    margin-left: 20px;
}