.addvote__form_global_div{
    background-color: #252830;
    width: fit-content;
    padding: 15px;
}

.addvote__color252830{
    background-color: #252830;
}

.addvote__input_votenow{
    width: 80px;
    margin-right: 5px;
    margin-left: 10px;
}