//Search

.search__global_div{
    margin-top: 20px;
    width: fit-content;
    background-color: #252830;
    padding: 20px;
}

.search__input{
    border: none;
    background-color: #252830;
    font-size: 16px;
    outline: none;
}

.search__button{
    font-size: 16px;
}